{% extends "base.html" %}

{% block content %}
    <a class="btn btn-primary" href="/">Посмотреть вакансии</a>
    {% for item in data %}
        <div class="list-group">
          <a href="/show_resume/{{ item.id }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ item.owner.name }}</h5>
              <small>{{ item.owner.email }}</small>
            </div>
            <p class="mb-1">{{ item.text }}</p>
          </a>
        </div>
    {% endfor %}
{% endblock %}
